<%- include('layout/header') %>

<div class="container">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto mt-4">
          <div class="card shadow">
            <div class="card-header bg-success">
              <h5 class="text-light display-4 text-center">Edit User(<%=user.name  %>)</h5>
            </div>

            <div class="card-body p-4">
              <form
                action="/update/<%= user._id  %>"
                method="post"
                id="add-form"
                enctype="multipart/form-data"
              >
                <div class="mb-3">
                  <label for="name">Name</label>

                  <input
                    type="text"
                    name="name"
                    class="form-control form-control-lg"
                    placeholder="Enter Name"
                    value="<%= user.name  %>"
                    required
                  />
                </div>

                <div class="mb-3">
                  <label for="email">Email</label>

                  <input
                    type="email"
                    name="email"
                    class="form-control form-control-lg"
                    placeholder="Enter Email"
                    value="<%= user.email  %>"
                    required
                  />
                </div>

                <div class="mb-3">
                  <label for="phone">Phone</label>

                  <input
                    type="tel"
                    name="phone"
                    class="form-control form-control-lg"
                    placeholder="Enter Phone"
                    value="<%= user.phone  %>"
                    required
                  />
                </div>

                <div class="mb-3">
                  <label for="image" class="form-label">Select Image</label>
                  <input
                    type="file"
                    name="image"
                    class="form-control form-control-lg"
                  />
                  <img src="/<%= user.image %>" alt="image" width="100" class="img-thumbnail mt-1">
                </div>
                <input type="hidden" name="old-image" value="<%= user.image  %>">
                <div class="mb-3 d-grid">
                  <input
                    type="submit"
                    name="submit"
                    value="update User"
                    class="btn btn-outline-success btn-lg"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('layout/footer') %>
</div>
